.imageElement {
	display: none;
}
#flickrGallery {
	width: 500px;
	height: 334px;
}
.jdGallery .slideInfoZone {
	position: absolute;
	z-index: 50;
	width: 100%;
	margin: 0px;
	left: 0;
	bottom: 0;
	text-indent: 0;
	overflow: hidden;
}
#myGallery img.thumbnail, #myGallerySet img.thumbnail {
	display: none;
}
.jdGallery {
	overflow: hidden;
	position: relative;
}
.jdGallery img {
	border: 0;
	margin: 0;
}
* html .jdGallery .slideInfoZone {
	bottom: 100px;
}
.jdGallery div.carouselContainer {
	position: absolute;
	height: 135px;
	width: 100%;
	z-index: 10;
	margin: 0px;
	left: 0;
	top: 0;
}
.jdExtCarousel {
	overflow: hidden;
	position: relative;
}
.jdGallery .carousel .carouselWrapper, .jdExtCarousel .carouselWrapper {
	position: absolute;
	width: 100%;
	height: 78px;
	top: 10px;
	left: 0;
	overflow: hidden;
}
.jdGallery .carousel .carouselInner, .jdExtCarousel .carouselInner {
	position: relative;
}
.jdGallery .wall .thumbnail, .jdExtCarousel .wall .thumbnail {
	margin-bottom: 10px;
}
.jdGallery .carousel .label, .jdExtCarousel .label {
	font-size: 13px;
	position: absolute;
	bottom: 5px;
	left: 10px;
	padding: 0 !important;
	margin: 0;
}
.jdGallery a.right, .jdGallery a.left {
	position: absolute;
	height: 99%;
	width: 25%;
	cursor: pointer;
	z-index:10;
	filter:alpha(opacity=20);
	-moz-opacity:0.2;
	-khtml-opacity: 0.2;
	opacity: 0.2;
}
* html .jdGallery a.right, * html .jdGallery a.left {
	filter:alpha(opacity=50);
}
.jdGallery a.right:hover, .jdGallery a.left:hover {
	filter:alpha(opacity=80);
	-moz-opacity:0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}
.jdGallery a.left {
	left: 0;
	top: 0;
	background: url('img/fleche1.png') no-repeat center left;
}
* html .jdGallery a.left {
	background: url('img/fleche1.gif') no-repeat center left;
}
.jdGallery a.right {
	right: 0;
	top: 0;
	background: url('img/fleche2.png') no-repeat center right;
}
* html .jdGallery a.right {
	background: url('img/fleche2.gif') no-repeat center right;
}
.jdGallery a.open {
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.withArrows a.open {
	position: absolute;
	top: 0;
	left: 25%;
	height: 99%;
	width: 50%;
	cursor: pointer;
	z-index: 10;
	background: none;
	-moz-opacity:0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}
.withArrows a.open:hover {
	background: url('img/open.png') no-repeat center center;
}
* html .withArrows a.open:hover {
	background: url('img/open.gif') no-repeat center center;
	filter:alpha(opacity=80);
}
/* Gallery Sets */

.jdGallery .gallerySelector .gallerySelectorWrapper {
	overflow: hidden;
}
.jdGallery .gallerySelector .gallerySelectorInner div.galleryButton h3 {
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-weight: normal;
}
#myGallery, #myGallerySet, #flickrGallery {
	width: 980px;
	height: 400px;
	z-index:5;
	border: 1px solid rgba(0, 0, 0, 0);
}
.jdGallery .slideInfoZone {
	background: rgba(0, 0, 0, 0.7);
	color: #ffffff;
}
.jdGallery .slideElement {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url('img/loading-bar-black.gif');
}
.jdGallery .loadingElement {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background-color: rgba(0, 0, 0, 0.7);
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url('img/loading-bar-black.gif');
}
.jdGallery .slideInfoZone h2 {
	padding: 0 !important;
	font-size: 14px !important;
	/*background-color: rgba(0, 0, 0, 0.7) !important;*/

margin: 2px 5px !important;
	font-weight: bold !important;
	color: #ffffff !important;
	background-image: none !important;
	text-align: left !important;
}
.jdGallery .slideInfoZone p {
	padding: 0 !important;
	/*background-color: rgba(0, 0, 0, 0.7) !important;*/

font-size: 11px !important;
	margin: 2px 5px !important;
	color: #ffffff !important;
	background-image: none !important;
	text-align: left !important;
}
.jdGallery a.carouselBtn, .jdGallery a.carouselBtn:hover, .jdGallery a.carouselBtn:active {
	position: absolute;
	bottom: 0;
	right: 30px;
	height: 20px;
	/*width: 100px; background: url('img/carousel_btn.gif') no-repeat;*/

text-align: center;
	padding: 0 10px;
	font-size: 13px;
	background: rgba(0, 0, 0, 0.7);
	color: #ffffff !important;
	cursor: pointer;
}
.jdGallery .carousel {
	position: absolute;
	width: 100%;
	margin: 0px;
	left: 0;
	top: 0;
	height: 115px;
	background: rgba(0, 0, 0, 0.7);
	color: #ffffff;
	text-indent: 0;
	overflow: hidden;
}
.jdGallery .carousel .carouselInner .thumbnail, .jdExtCarousel .carouselInner .thumbnail {
	cursor: pointer;
	background: rgba(0, 0, 0, 0.7);
	background-position: center center;
	float: left;
	border: solid 1px rgba(0, 0, 0, 0);
}
.jdGallery .carousel .wallButton, .jdExtCarousel .wallButton {
	font-size: 10px;
	position: absolute;
	bottom: 5px;
	right: 10px;
	padding: 1px 2px;
	margin: 0;
	background: rgba(0, 0, 0, 0.7);
	border: 1px solid rgba(0, 0, 0, 0);
	cursor: pointer;
}
.jdGallery .carousel .label .number, .jdExtCarousel .label .number {
	color: #ffffff;
}
.jdGallery a {
	font-size: 100%;
	text-decoration: none;
	color: #ffffff;
}
/* Gallery Sets */



.jdGallery a.gallerySelectorBtn {
	z-index: 15;
	position: absolute;
	top: 0;
	left: 30px;
	height: 20px;
	/*width: 100px; background: url('img/carousel_btn.gif') no-repeat;*/

text-align: center;
	padding: 0 10px;
	font-size: 13px;
	background: rgba(0, 0, 0, 0.7);
	color: #ffffff;
	cursor: pointer;
	opacity: .4;
	-moz-opacity: .4;
	-khtml-opacity: 0.4;
	filter:alpha(opacity=40);
}
.jdGallery .gallerySelector {
	z-index: 20;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.7);
}
.jdGallery .gallerySelector h2 {
	margin: 0;
	padding: 10px 20px 10px 20px;
	font-size: 20px;
	line-height: 30px;
	color: #ffffff;
}
.jdGallery .gallerySelector .gallerySelectorInner div.galleryButton {
	margin-left: 10px;
	margin-top: 10px;
	border: 1px solid rgba(0, 0, 0, 0);
	padding: 5px;
	height: 40px;
	color: #ffffff;
	cursor: pointer;
	float: left;
}
.jdGallery .gallerySelector .gallerySelectorInner div.hover {
	background: rgba(0, 0, 0, 0.7);
}
.jdGallery .gallerySelector .gallerySelectorInner div.galleryButton div.preview {
	background: rgba(0, 0, 0, 0.7);
	background-position: center center;
	float: left;
	border: none;
	width: 40px;
	height: 40px;
	margin-right: 5px;
}
.jdGallery .gallerySelector .gallerySelectorInner div.galleryButton p.info {
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-weight: normal;
	color: #ffffff;
}
